
body {
    font-family: 'Montserrat';
    font-style: normal;
    width: 1280px;
    margin: 0 auto;
    color: #373737;
    background: #FFFFFF;
    
}

   


.nav__list {
    text-align: center;
}

.list__item {
    display: inline-block;
    vertical-align: middle;
    padding: 26px 0px;

}

.item__link {
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding: 6px 36px 6px 36px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.last {
    padding-left: 14px;
}

.info {
    text-align: center;

}

.info__titel {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin: 48px 0px 10px 0px;
}

.info__text {
    max-width: 1145px;
    letter-spacing: 2.4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 28px auto;
}

.button {
    background-color: #FF0000;
    border-radius: 4px;
    padding: 18px 43px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 38px 0px 88px 0px;
    text-align: center;
}

.footer {
    text-align: end;
}

.footer__tetx {
    letter-spacing: 2.4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-right: 105px;
    padding-bottom: 29px;
}